@import "./reset";
@import "../css/font.css";

$mainColor: #8d81ac;
$minWidth:320px;
$maxWidth:1200px;

 body{
  overflow-x: hidden;
}

@mixin button($bgc,$borc,$fontColor,$bgh,$fontColorH){
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
  transition: color 0.3s linear;
  color: $fontColor;
  background-color: $bgc;
  cursor: pointer;
  &:hover{
    border-color: $borc;
    background-color: $bgh;
    color: $fontColorH;
  }
}

%button{
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
  transition: color 0.3s linear;
  color: white;
  background-color: #8d81ac;
  cursor: pointer;
  &:hover{
    border-color: #8d81ac;
    background-color: #fff;
    color: #8d81ac;
  }
}

%fontFamilyLato{
  font-family: Lato,sans-serif;
}

%fontFamilyMontserrat{
  font-family: Montserrat,sans-serif;
}

.container{
  min-width: $minWidth;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.header{
  position: relative;
  padding: 31px 10px;
  background-color: #27262a;
  display: grid;
  grid-template-areas: 'logo button burger';
  &-logo{
    grid-area: logo;
  }
  &-img{
    width: 43px;
    height: 41px;
    display: inline-block;
    cursor: pointer;
    background-image: url('../img/Logo.png');
    &:hover{
      background-image: url('../img/logo-hover.png');
    }
  }
  &-slogan{
    display: none;
  }
  &-button{
    justify-self: center;
    width: 117px;
    height: 37px;
    grid-area: button;
    font-size: 15px;
    font-weight: bold;
    @include button(#8d81ac,#8d81ac,#fff,#fff,#8d81ac);
  }
}

.burger{
  grid-area: burger;
  justify-self: end;
  height: 41px;
  width: 41px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
  &-touch{
    cursor: pointer;
    opacity: 0;
    width: inherit;
    height: inherit;
    z-index: 1;
    margin: 0;
    position: absolute;
  }

  &-item{
    margin-right: 5px;
    width: 26px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px ;
    transition: width 0.4s linear;
    &:first-of-type{
      width: 20px;
    }
  }

  & input:checked ~ &-item:first-of-type{
    width: 26px;
  }

  & input:checked ~ &-item:last-of-type{
    width: 20px;
  }

  & input:checked ~ .menu {
    left: 50%;
  }
}

.menu{
  transition: left 0.4s linear;
  position: absolute;
  top: 100%;
  left: 150%;
  background-color: #333333;
  width: 290px;
  transform: translate(-50%, 0);
  z-index: 1;
  &-item{
    display: block;
    color: white;
    @extend %fontFamilyMontserrat;
    font-size: 26px;
    line-height: 3.35;
    border-bottom: 2px solid #3b3b3b;
    padding-left: 33px;
    position: relative;
  }
  &-item:hover, .selectItem{
    color:$mainColor;
  }

  &-item:hover:before, .selectItem:before{
    content: "";
    width: 8px;
    height: 53px;
    background-color: $mainColor;
    position: absolute;
    top: 53%;
    left: 0;
    transform: translate(0, -50%);
  }
}

.home{
  position: relative;
  height: 616px;
  background:url("../img/header.png") center;
  background-size: cover;
  text-align: center;
  @extend %fontFamilyMontserrat;
  padding: 37px 0 0 0 ;
  margin-bottom: 115px;

  &-title{
    color: white;
    font-size: 48px;
    font-weight: bold;
  }

  &-slogan{
    font-size: 19px;
    color: $mainColor;
    line-height: 1.9;
    padding-top: 11px;
  }

  &-text{
    font-size: 17px;
    color: #848e97;
    line-height: 2;
  }

  &-button{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    width: 290px;
    height: 45px;
    bottom: 0;
    transform: translate(-50%, 50%);
    @include button(#8d81ac,#8d81ac,#fff,#fff,#8d81ac);
    &:after{
      position:absolute ;
      content: "Unlimited 30-Days Trial Period";
      @extend %fontFamilyMontserrat;
      font-size: 14px;
      font-weight: 400;
      color: #848e97;
      top: 125%;
      left: 50%;
      transform: translate(-50%, 0);
      white-space: nowrap;
    }
  }
}

.rev-editor {
  text-align: center;

  &-title {
    margin-bottom: 23px;
    @extend %fontFamilyMontserrat;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #635c73;
    line-height: 1.5;
  }

  &-caption {
    @extend %fontFamilyLato;
    padding: 0 15px;
    text-align: center;
    font-size: 14px;
    color: #323232;
  }

  &-actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 34px 0 68px;
  }

  &-actions-item {
    display: inline-block;
    margin: 0 5px 20px;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    @extend %fontFamilyLato;
    font-weight: 700;
    font-size: 14px;
    color: #24292e;
    user-select: none;
  }

  &-actions-btn {
    display: inline-block;
    padding: 3px 10px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    border-right: 1px solid rgba(27, 31, 35, .2);
    cursor: pointer;
  }

  &-actions-item:nth-child(1) &-actions-btn:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: currentcolor;
    vertical-align: -2px;
  }

  &-actions-btn:hover {
    box-shadow: inset 0 25px 0 0 rgba(0, 0, 0, .03);
  }

  &-actions-btn:active {
    box-shadow: inset 0 25px 0 0 rgba(0, 0, 0, .03),
    inset 0 1px 5px 0 rgba(0, 0, 0, 0.4);
  }

  &-icon {
    vertical-align: -3px;
  }

  &-action-count {
    margin: 0 5px;
  }
}

.you-get {
  padding: 34px 25px 0;
  background-color: #f4f4f4;
  @extend %fontFamilyMontserrat;
  text-align: center;

  &-title {
    font-size: 30px;
    font-weight: 700;
    color: #8d81ac;
  }

  &-title:before {content: '<'}
  &-title:after {content: '>'}

  &-subtitle {
    margin-bottom: 18px;
    font-size: 16px;
    color: #323232;
  }

  &-icon {
    margin: 35px 0 25px;
  }

  &-desc {
    @extend %fontFamilyLato;
    font-size: 14px;
    color: #848e97;
    line-height: 1.3;
  }

  &-img {
    margin: 57px 0 6px -22px;
    height: 381px;
  }
}

.people{
  background: url("../img/testmonials-bg.png") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 60px 10px 0 10px;
  box-shadow: inset 0 -80px 20px 20px rgba(75, 59, 78, .9);

  &-slogan{
    @extend %fontFamilyMontserrat;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
  }

  &-text{
    display: none;
  }

  &-line{
    display: inline-block;
    width: 280px;
    height: 2px;
    background-color: #645766;
    margin-top: 43px;
  }
}

.card{
  &-img{
    margin: 35px 0 20px 0;
  }
  &-text{
    color: #ffffff;
    @extend %fontFamilyLato;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    hyphens: auto;
    line-height: 1.6;
  }
}

.pricing {
  padding-top: 60px;
  padding-bottom: 79px;
  background: url("../img/pricing-bg.png") #4b3b4e ;
  background-size: cover;
  @extend %fontFamilyMontserrat;
  text-align: center;
  color: #fff;

  &-title {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 53px;
  }

  &-variant {
    display: inline-block;
    width: 257px;
    padding-bottom: 38px;
    margin-bottom: 14px;
    background-color: rgba(255, 255, 255, .2);
  }

  &-variant-name {
    padding-top: 46px;
    padding-bottom: 34px;
    margin-bottom: 32px;
    background-color: rgba(255, 255, 255, .05);
    text-transform: uppercase;
    font-size: 20px;
  }

  &-price {
    font-size: 56px;
    font-weight: 700;
  }

  &-price:before { content: '\0024'; }
  &-price:after {
    content: 'per month';
    display: block;
    margin: 24px 39px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    opacity: .3;
  }

  &-variant-desc {
    height: 50px;
    font-size: 16px;
    padding: 0 22px;
    margin-bottom: 68px;
    line-height: 1.2;
  }

  &-variant-desc:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    margin: 0 auto 31px;
    background-color: #8d81ac;
  }

  &-variant-btn {
    display: inline-block;
    border-radius: 25px;
    padding: 16px 38px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    @include button(rgba(255, 255, 255, .2),none,#fff,rgba(255, 255, 255, .4), inherit)
  }

  &-variant.active {
    margin: 40px 0;
    background-color: rgba(0, 0, 0, .15);
    transform: scale(1.1);

    .pricing-variant-name {
      background-color: rgba(0, 0, 0, .05);
      color: rgba(255, 255, 255, .8);
    }
  }

}

@media screen and(min-width: 480px){
  .header{
    padding: 21px 10px;
    grid-template-areas: 'logo button'
                          'burger burger';

    &-button{
      font-size: 16px;
      justify-self: end;
      width: 145px;
      height: 40px;
    }

    &-logo{
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover>.header-img{
        background-image: url('../img/logo-hover.png');
      }
      &:hover>.header-slogan{
        color: #ffffff;
      }
    }

    &-slogan{
      display: inline-block;
      font-size: 24px;
      font-family: Lato,sans-serif;
      font-weight: bold;
      color: #8d81ac;
      margin-left: 17px;
    }
  }

  .burger{
    height: 40px;
    width: auto;
    justify-self: center;
    background: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &-touch,  &-item{
      display: none;
    }
  }

  .menu{
    position: static;
    transform: translate(0, 0);
    display: flex;
    justify-content: space-between;
    transition: none;
    background:none;
    min-width: 450px;

    &-item{
      display: inline-block;
      line-height: 1;
      border: none;
      padding-left: 0;
      position: static;
      font-size: 16px;
      font-weight: bold;
      color: #8d81ac;

      &:hover:before{
        content: none;
      }
    }
  }

  .home{
    height: 680px;

    &-title{
      font-size: 72px;
    }
    &-slogan{
      font-size: 24px;
    }
    &-button{
      width: 390px;
      height: 65px;
      font-size: 21px;
    }
  }

  .rev-editor {
    &-title {
      font-size: 34px;
      margin-bottom: 38px;
    }

    &-caption {
      padding: 0 47px;
      font-size: 20px;
      line-height: 1.5;
    }

    &-actions {
      margin: 36px 0 98px;
    }
  }

  .you-get {
    padding: 54px 30px 23px;
    text-align: left;

    &-title {
      margin-bottom: 60px;
      font-size: 41px;
      text-align: center;
    }

    &-icon-wrapper {
      display: inline-block;
      width: 24%;
      text-align: center;
      vertical-align: top;
    }

    &-icon {
      margin: 0 0 60px;
    }

    &-text {
      text-align: left;
      display: inline-block;
      width: 75%;
    }

    &-img {
      height: initial;
      margin: 0;
    }
  }

  .people{
    display: grid;
    grid-column-gap: 10px;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);

   &-slogan, &-text, &-line{
      grid-column-start:1;
      grid-column-end:3;
    }
    &-slogan{
      font-size: 42px;
    }
    &-text{
      width: 670px;
      display: inline-block;
      margin-top: 58px;
      font-family: Lato,sans-serif;
      font-size: 14px;
      color:#645766;
    }
    &-line{
      margin-top: 15px;
      width: 699px;
    }
  }

  .card{
    &-img{
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-10%);

      &-minwidth{
        position: relative;
        min-height: 154px;
      }
    }
  }

  .pricing {
    display: flex;
    padding-left: 4vw;
    padding-right: 4vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    &-title {
      width: 100%;
    }

    &-variant {
      width: 38%;
      margin: 0 23px 92px;
    }

    &-variant.active {
      transform: scale(1.2);
      margin: 0 23px 92px;
    }
  }

  @media screen and (min-width: 993px){
    .container {
      margin-left: -1;
      margin-right: -1;
      box-sizing: content-box;
      padding-left: calc((100% - 1200px)/2);
      padding-right: calc((100% - 1200px)/2);
    }

    .header{
      grid-template-columns: 149px 1fr 170px ;
      grid-template-areas: 'logo burger button';
    }

    .burger{
      justify-self: end;
      align-items: center;
      justify-content: flex-end;
    }
    .menu{
      &-item:hover{
        color: white;
      }
    }
    .home{
      height: 699px;
    }

    .rev-editor {
      &-title {
        font-size: 41px;
      }

      &-caption {
        font-size: 23px;
      }
    }

    .you-get {
      display: grid;
      grid-template-columns: 48% 52%;
      grid-auto-rows: min-content;
      padding-top: 99px;
      padding-right: -1;

      &-title {
        grid-column: 2 / 3;
        text-align: left;
        margin-left: 21px;
        margin-bottom: 29px;
      }

      &-items {
        grid-row: 1 / 3;
        margin: 0 60px;
      }

      &-icon-wrapper { width: 36%; }
      &-text {
        width: 62%;
        margin-bottom: 10px;
      }

      &-img-wrapper {
        overflow: hidden;
      }
    }

    .people{
      grid-template-columns: repeat(3,1fr);
      &-slogan, &-text, &-line{
        grid-column-start:0;
        grid-column-end:4;
      }

      &-slogan{
        font-size: 47px;
      }

      &-text{
        width: 859px;
      }

      &-line{
        width: 779px;
      }
    }

    .pricing {
      justify-content: center;

      &-title {
        margin-bottom: 121px;
      }

      &-variant {
        width: 19%;
        margin: 0 7px;
      }

      &-variant.active {
        margin: 0 25px;
      }
    }
  }
}

